# --- Databricks & Jupyter Specifics ---
.databricks/
.bundle/
*.ipynb_checkpoints
.virtual_documents/
*.dbfs
*.parquet
*.delta
*.csv
*.gz

# --- Python & Environment ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# --- IDE Specifics (VS Code / PyCharm) ---
.vscode/
.idea/
.DS_Store

# --- Project Specifics ---
# Ignorar arquivos de dados locais que você possa ter baixado para teste
data/
outputs/
temp/

# Ignorar logs de execução do Spark (caso tenha baixado algum)
spark-warehouse/
metastore_db/
derby.log